<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
  <div th:fragment="header" th:remove="tag">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/users">ユーザー管理</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <div class="d-flex" sec:authorize="isAuthenticated()">
            <span class="me-2 navbar-text" sec:authentication="name"></span>
            <a href="/users/new" class="btn btn-primary me-2">新規ユーザー登録</a>
            <form method="post" th:action="@{/logout}" class="d-flex">
              <input type="submit" class="btn btn-dark" value="ログアウト"/>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>