<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title,body)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/users.js}"></script>
</head>
<body>
  <div id="header" th:replace="~{layout/header :: header}"></div>
  <div class="container">
    <div id="body" th:replace="${body}"></div>
  </div>
  <!--  <div id="footer" th:replace="~{layout/footer :: footer}"></div>-->
</body>
</html>