<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザーリスト</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>ユーザーリスト</h1>
    <table class="table">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">LoginId</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
        </tr>
        <tr th:each="user : ${model.users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.loginId}"></td>
            <td th:switch="${user.gender}">
                <span th:case="0" th:text="不明"></span>
                <span th:case="1" th:text="女性"></span>
                <span th:case="2" th:text="男性"></span>
            </td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
</div>
</body>
</html>