<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
    <meta charset="UTF-8">
    <title>ユーザー編集</title>
</head>
<body>
    <h1>ユーザー編集</h1>
    <form method="post" th:action="@{/users/{id}/edit(id=${id})}" id="user-update-form" th:object="${userEditForm}">
        <!-- メールアドレス -->
        <div class="mb-3">
            <label for="email" class="form-label">メールアドレス</label>
            <input type="email" class="form-control" th:field="*{email}" id="email"
                   th:classappend="${#fields.hasErrors('email') or #fields.hasErrors('${userEditForm}')} ? 'is-invalid' ">
            <div class="invalid-feedback" th:errors="*{email}"></div>
            <div class="invalid-feedback" th:errors="${userEditForm}"></div>
        </div>
        <!-- 氏名 -->
        <div class="mb-3">
            <label for="name" class="form-label">氏名</label>
            <input type="text" class="form-control" th:field="*{name}" id="name"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' ">
            <div class="invalid-feedback" th:errors="*{name}"></div>
        </div>
        <!-- 性別 -->
        <div class="mb-1">性別</div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" th:field="*{gender}" value="2"
                       th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid' ">
                <label class="form-check-label" th:for="${#ids.prev('gender')}">
                    男性
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" th:field="*{gender}" value="1"
                       th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid' ">
                <label class="form-check-label" th:for="${#ids.prev('gender')}">
                    女性
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" th:field="*{gender}" value="0"
                       th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid' ">
                <label class="form-check-label" th:for="${#ids.prev('gender')}">
                    不明
                </label>
                <div class="invalid-feedback" th:errors="*{gender}"></div>
            </div>
        </div>
        <a href="/users" class="btn btn-secondary">戻る</a>
        <input type="submit" class="btn btn-primary" id="create-btn" value="登録"/>
    </form>
</body>
</html>